div {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    transition-duration: 1s;
    margin: 50px auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

div:hover {
    /* Transalte  */
    /* transform: translatex(100px); */
    /* transform: translatey(100px); */
    /* transform: translate(100px, 100px); */

    /* Rotate */
    /* transform: rotatex(180deg); */
    /* transform: rotatey(180deg); */
    /* transform: rotatez(180deg); */

    /* Scale */
    /* transform: scaleX(5); */
    /* transform: scaleY(0.5); */

    /* Skew */
    /* transform: skewx(50deg); */
    transform: skewy(50deg);
}