# Ignore node_modules directory
node_modules/
package-lock.json

# Ignore logs
logs/
*.log

# Ignore environment variable files
.env

# Ignore build output
dist/
build/

# Ignore coverage reports
coverage/

# Ignore npm debug files
npm-debug.log*
